name: test-task-dev

services:
  mongo:
    image: mongo:latest
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "27017:27017"
    volumes:
      - ./docker/mongo-data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 40s
    networks:
      - app

  backend:
    build:
      context: ./be
      dockerfile: Dockerfile.dev
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./be/src:/app/src
    depends_on:
      mongo:
        condition: service_healthy
    environment:
      - NODE_ENV=development
      - PORT=3000
      - MONGODB_URI=mongodb://mongo:27017/test-task
    networks:
      - app

networks:
  app:
    driver: bridge
